/*virkar í Opera, Mozilla og Chrome*/
/*keyrt í Chrome*/
body {
	font-family: Arial;
    color: rgb(130, 130, 130);
	margin:0;
	padding: 0;
	font-size: 11pt;
}

header {
	padding: 0;
	width:100%;
	height:160px;
}

main {
	height:450px;
	padding: 50px 0 30px 0;
}

footer {
	padding:0;
	height: 80px;
	width:100%;
    border-top: 3px solid rgb(240,240,240);
}

/*flexbox containers====================*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-align-items: center;
    -moz-justify-content: center;
}

.flex-schoolheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 1024px;
    height: 64px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    -webkit-width: 1024px;
    -webkit-height: 64px;
    display: -moz-flex;
    -moz-flex-direction: row;
    -moz-align-items: center;
    -moz-justify-content: flex-end;
}

.flex-pageheader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1024px;    
    height: 96px;      
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
    display: --moz-flex;
    -moz-justify-content: flex-start;
    -moz-align-items: center;      
}

.container-main {
    display: flex;
    width: 1024px;
   	padding-bottom: 10px;
   	height:450px;
	display: -webkit-flex;
	display: -moz-flex;
}

.flex-list {
    display: flex;
	flex-grow: 2;
   	height:300px;
    display: -webkit-flex;
	-webkit-flex-grow: 2;
   	-webkit-height:300px;
    display: -moz-flex;
	-moz-flex-grow: 2;
}

.flex-onpage {
    display: flex;
    flex-grow: 5;
    height:450px;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-grow: 5;
    -webkit-height:450px;
    -webkit-flex-direction: column;
    display: -moz-flex;
    -moz-flex-grow: 5;
    -moz-height:450px;
    -moz-flex-direction: column;
}

.container-news {
    display: flex;
    width: 1024px;
   	padding-bottom: 10px;
   	flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height:200px;
	width: 1024px;
	display: -webkit-flex;
   	-webkit-padding-bottom: 10px;
   	-webkit-flex-direction: row;
    -webkit-align-items: stretch;
    -webkit-justify-content: space-between;
    -webkit-height:200px;
	display: -webkit-flex;
   	-webkit-padding-bottom: 10px;
   	-webkit-flex-direction: row;
    -webkit-align-items: stretch;
    -webkit-justify-content: space-between;
    -webkit-height:200px;
}

.item-news {
    width: 27%;
    background-color: rgb(240, 240, 240);
    border-top: 3px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding:0 20px 0 20px ;
    display: -webkit-flex;
    -webkit-width: 27%;
    -webkit-background-color: rgb(240, 240, 240);
    -webkit-border-top: 3px solid rgb(221, 221, 221);
    -webkit-flex-direction: column;
    -webkit-align-items: stretch;
    -webkit-justify-content: center;
    -webkit-padding:0 20px 0 20px ;
}

.container-footer {
    display: flex;
    width: 1024px;
    justify-content: flex-end;
    padding:10px;
    display: -webkit-flex;
    -webkit-width: 1024px;
    -webkit-justify-content: flex-end;
    -webkit-padding:10px;
}

/*class=============*/

.head {
	width: 100%;
    height: 40%;
}

.page {
	width: 100%;
    height: 60%;
    background-color: rgb(240, 240, 240);
    border-top: 3px solid rgb(221, 221, 221);
    border-bottom: 3px solid rgb(221, 221, 221);
}

.news {
	width: 100%;
    border-top: 3px solid rgb(240,240,240);
    padding-top: 30px;
    padding-bottom: 30px;
}

/*----------------annað--------------*/

/*id-----------------*/
#logo {
    display: block;
    height:3em;
    margin-left:1%
}

#bar {
    list-style-type: none;
    margin: 0;
    padding:0 40px 0 0;
    width: 200px;
    text-transform: uppercase;
}

 #seek {
    padding: 15px;
    padding-left: 0;
    color: rgb(41, 41, 41);
    font-weight: bold;
 }

#department {
    color: rgb(90, 90, 90);
}

#submit {
    border-radius: 2px;
    background-color: white;
    border: 1px solid rgb(204,204,204);
    padding: 5px;
}

#input-name, #department {
    border-radius: 2px;
    border: 1px solid rgb(74, 74, 74);
}

/*------------------left-list------*/

#bar li  a:hover, #bar li a:active {
    color: rgb(189, 35, 35);
    font-weight:bold;
}
#bar a:link,  #bar a:visited {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

li a {
    display: block;
    padding: 3px;
}

/*-------------------table-----------*/

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 10pt;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    color: rgb(41, 41, 41);
    padding:15px 0 15px 0;
}

#student-table tr td:first-child, table tr th:first-child  {
	text-align: center;
	width:40px;
}

/*headings*/
h1 {
    font-weight: normal;
    color: rgb(189, 35, 35);
 }

 h2 {
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    font-size: 14pt;
 }

 h4 {
    color: rgb(41, 41, 41);
    margin:0;
 }

 h3 {
 	color: rgb(41, 41, 41)
 	font-size: 12pt;
 	margin-top: 0;
 }

/*font decorations*/

a.mail {
	text-decoration: none;
    color: rgb(236, 28, 51);
    font-weight: bold;
}

#news div div a, .container-footer ul li a {
	text-decoration: none;
	color: rgb(189, 35, 35);
}

/*other*/

td>img {
	height: 35px;
}

.container-footer ul{
    list-style-type: none;
    margin:0;
    padding:10px;
}

.container-footer li, .container-footer a {
    display: inline;
    padding: 10px;
}
